In [1]:
import pandas as pd
import numpy as np
import uuid

In [3]:
root_dataset = './Dataset'
job_skills_df = pd.read_csv(f"{root_dataset}/job_skills.csv",)
print('1')
job_summary_df = pd.read_csv(f"{root_dataset}/job_summary.csv")
print('2')
linked_in_df = pd.read_csv(f"{root_dataset}/linkedin_job_postings.csv")
print('3')

1
2
3

In [4]:
display(job_skills_df.head(5))
print(sum(job_skills_df['job_link'].duplicated()))

,job_link,job_skills
0,https://www.linkedin.com/jobs/view/housekeeper...,"Building Custodial Services, Cleaning, Janitor..."
1,https://www.linkedin.com/jobs/view/assistant-g...,"Customer service, Restaurant management, Food ..."
2,https://www.linkedin.com/jobs/view/school-base...,"Applied Behavior Analysis (ABA), Data analysis..."
3,https://www.linkedin.com/jobs/view/electrical-...,"Electrical Engineering, Project Controls, Sche..."
4,https://www.linkedin.com/jobs/view/electrical-...,"Electrical Assembly, Point to point wiring, St..."

0

In [5]:
display(job_summary_df.head(5))

,job_link,job_summary
0,https://www.linkedin.com/jobs/view/restaurant-...,Rock N Roll Sushi is hiring a Restaurant Manag...
1,https://www.linkedin.com/jobs/view/med-surg-re...,Schedule\n: PRN is required minimum 12 hours p...
2,https://www.linkedin.com/jobs/view/registered-...,Description\nIntroduction\nAre you looking for...
3,https://uk.linkedin.com/jobs/view/commercial-a...,Commercial account executive\nSheffield\nFull ...
4,https://www.linkedin.com/jobs/view/store-manag...,Address:\nUSA-CT-Newington-44 Fenn Road\nStore...

In [6]:
display(linked_in_df.head(5))

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite
3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00,t,t,f,Independent Real Estate Agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/group-unit-...,2024-01-19 09:45:09.215838+00,f,f,f,Group/Unit Supervisor (Systems Support Manager...,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite

In [18]:
main_linked_in = linked_in_df.copy()[:250]
print(len(main_linked_in))
merged_df = pd.merge(main_linked_in,job_summary_df,left_on='job_link',right_on='job_link')
new_merged_df = pd.merge(merged_df,job_skills_df,left_on='job_link',right_on='job_link')

250

In [19]:
print(len(new_merged_df))
display(new_merged_df.head(3))

210

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,job_summary,job_skills
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite,Responsibilities\nJob Description Summary\nJob...,"Medical equipment sales, Key competitors, Term..."
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite,Employment Type:\nFull time\nShift:\nDescripti...,"Nursing, Bachelor of Science in Nursing, Maste..."
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite,Job Details\nDescription\nWhat You'll Do\nAs a...,"Restaurant Operations Management, Inventory Ma..."

In [20]:
new_merged_df['id'] = new_merged_df.apply(lambda _: uuid.uuid4(), axis=1)

new_merged_df.to_csv('final_data.csv')

In [2]:
df = pd.read_csv('./final_data.csv')
df.head(5)

,Unnamed: 0,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,job_summary,job_skills,id
0,0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite,Responsibilities\r\nJob Description Summary\r\...,"Medical equipment sales, Key competitors, Term...",3d8fe38c-4b59-4b47-b678-a6f179f5ad0b
1,1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite,Employment Type:\r\nFull time\r\nShift:\r\nDes...,"Nursing, Bachelor of Science in Nursing, Maste...",fa0860e9-4eb9-4cb3-b00b-3dd9b37dd479
2,2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite,Job Details\r\nDescription\r\nWhat You'll Do\r...,"Restaurant Operations Management, Inventory Ma...",f5c7100c-4e20-404b-8a1a-9a944ce8ed77
3,3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00,t,t,f,Independent Real Estate Agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite,Who We Are\r\nRand Realty is a family-owned br...,"Real Estate, Customer Service, Sales, Negotiat...",fe0b6aed-5235-47fc-be46-f999abde096f
4,4,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 08:08:19.663033+00,t,t,f,Registered Nurse (RN),Trinity Health MI,"Muskegon, MI",2024-01-14,Muskegon,United States,Nurse Practitioner,Mid senior,Onsite,Employment Type:\r\nFull time\r\nShift:\r\n12 ...,"Nursing, BSN, Medical License, Virtual RN, Nur...",77123571-eb3c-4d9c-9d49-7cb8b7b599c2

In [18]:
import pandas as pd
import uuid

all_jobs = df[['search_position', 'company', 'job_level', 'job_summary', 'job_level', 'job_skills', 'search_country', 'search_city', 'id']]

skills_columns = ["skill_id", "skill_name"]
registered_skills = {}
skills_df = pd.DataFrame(columns=skills_columns)

jobs_columns = ["job_id", "job_name", "job_level", "job_summary", "company_id", "company", "search_country", "search_city"]
jobs_df = pd.DataFrame(columns=jobs_columns)

jobs_and_skills_merged_columns = ["job_id", "skill_id"]
jobs_and_skills_merged_df = pd.DataFrame(columns=jobs_and_skills_merged_columns)

for index, row in all_jobs.iterrows():
    if isinstance(row['job_skills'], str):
        job_id = str(uuid.uuid4())
        new_job = pd.DataFrame([{
            "job_id": job_id, 
            "job_name": row['search_position'].lower(),
            "job_summary": row['job_summary'],
            "job_level": row['job_level'],

            "company_id": row['id'],
            "company": row['company'],
            "search_country": row['search_country'],
            "search_city": row['search_city'],
        }])
        jobs_df = pd.concat([jobs_df, new_job], ignore_index=True)
        for skill in row['job_skills'].split(', '):
            if skill.lower() not in registered_skills:
                skill_id = str(uuid.uuid4())
                new_skill = pd.DataFrame([{
                    "skill_id": skill_id, 
                    "skill_name": skill.lower()
                }])
                skills_df = pd.concat([skills_df, new_skill], ignore_index=True)
                registered_skills[skill.lower()] = skill_id
            new_job_skill = pd.DataFrame([{
                "job_id": job_id,
                "skill_id": registered_skills[skill.lower()],
            }])
            jobs_and_skills_merged_df = pd.concat([jobs_and_skills_merged_df, new_job_skill])

skills_df.to_csv('skills.csv', index=False)
jobs_df.to_csv('jobs.csv', index=False)
jobs_and_skills_merged_df = jobs_and_skills_merged_df.drop_duplicates()
jobs_and_skills_merged_df.to_csv('jobs_skills_map.csv', index=False)

In [6]:
display(skills_df.head())
display(jobs_df.head())
display(jobs_and_skills_merged_df.head())

                               skill_id               skill_name
0  3cd06096-ade7-480d-96d0-423d86a3bd92  medical equipment sales
1  29d8feab-c82a-4028-a876-f327419f4df9          key competitors
2  d8fd233d-bec1-4a8b-a478-05bd0fd9d61b              terminology
3  57066774-29ba-49e7-b17b-a33820caad19               technology
4  084d3c47-4421-4252-889d-b38968303237                   trends

,job_id,job_name,job_level,job_summary,company_id,company,search_country,search_city
0,b346573e-a08d-4878-9fb2-e8a091f5e478,color maker,job_level Mid senior job_level Mid senio...,Responsibilities\r\nJob Description Summary\r\...,3d8fe38c-4b59-4b47-b678-a6f179f5ad0b,BD,United States,Coronado
1,3ea5a0e2-0c08-49ce-98e3-4cedd6bffd0c,director nursing service,job_level Mid senior job_level Mid senio...,Employment Type:\r\nFull time\r\nShift:\r\nDes...,fa0860e9-4eb9-4cb3-b00b-3dd9b37dd479,Trinity Health MI,United States,Grand Haven
2,ad6f48aa-a105-4523-ad05-aacde02fe2b8,stand-in,job_level Mid senior job_level Mid senio...,Job Details\r\nDescription\r\nWhat You'll Do\r...,f5c7100c-4e20-404b-8a1a-9a944ce8ed77,Wasatch Adaptive Sports,United States,Tooele
3,a03d71a3-023d-4a6a-90fe-b654932859ce,real-estate clerk,job_level Mid senior job_level Mid senio...,Who We Are\r\nRand Realty is a family-owned br...,fe0b6aed-5235-47fc-be46-f999abde096f,Howard Hanna | Rand Realty,United States,Pinehurst
4,da1486bf-2d2b-4ce1-bfc6-3b05ec036efc,nurse practitioner,job_level Mid senior job_level Mid senio...,Employment Type:\r\nFull time\r\nShift:\r\n12 ...,77123571-eb3c-4d9c-9d49-7cb8b7b599c2,Trinity Health MI,United States,Muskegon

                                 job_id                              skill_id
0  b346573e-a08d-4878-9fb2-e8a091f5e478  93c494fa-a146-4b4b-9172-f917cda7afff
0  b346573e-a08d-4878-9fb2-e8a091f5e478  049f3ce2-36b3-44ab-9eb7-96d397c48386
0  b346573e-a08d-4878-9fb2-e8a091f5e478  309a988f-faf6-4189-a38c-fbe9690624c1
0  b346573e-a08d-4878-9fb2-e8a091f5e478  57e7c126-49c2-4351-a60f-a52240ad79c8
0  b346573e-a08d-4878-9fb2-e8a091f5e478  c58d7f77-dcd2-4366-abc1-7d90ce88f32a